option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:server
    NumProcesses: 2
    NumThreads: 15
    StaticFiles: /static=static
    
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: /var/app/current
    FLASK_ENV: production
    PYTHONUNBUFFERED: "1"
    DASH_DEBUG: "False"
    
container_commands:
  01_install_dependencies:
    command: "pip install --upgrade pip"
    leader_only: true
  
  02_collect_static:
    command: "python -c 'print(\"Static files ready\")'"
    leader_only: true

files:
  "/etc/httpd/conf.d/ssl_rewrite.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      RewriteEngine On
      <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
      RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
      </If>

  "/opt/elasticbeanstalk/tasks/bundlelogs.d/app_log.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/eb-engine.log
      /var/log/eb-hooks.log
      /var/log/httpd/*
